<html>
  <head>
    <title> TBSL Website </title>
  </head>
  <body>
    <div>
             <h1><a href="">Tampa Bay Soccer League' Blog</a></h1>
   </div>

         <div>
             <p>published: 19.02.2017, 10:22</p>
             <h2><a href="">Noticias del dia</a></h2>
             <p>Este post no esta displayed desde el DB.  </ br>  Es simplemente un test de los views.</p>
         </div>

         <div>
             <p>published: 19.02.2017, 10:22</p>
             <h2><a href="">Torneos</a></h2>
             <p>Segundo post para ver headings, y secciones.</p>
         </div>
  </body>
</html>
